body.overflow {
    overflow: hidden;
}
.screensVideo {
    .media-item-wrap {
        display: inline-block;
        .media-content {
            position: relative;
            cursor: pointer;
            opacity: 0.8;
            transition: 0.2s;
            &:hover {
                opacity: 1;
            }
            & > i {
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 1.8rem;
                transform: translate(-50%, -50%);
                color: #fff;
                text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            }
        }
    }
    img {
        max-width: 250px;
        max-height: 140px;
        margin-top: .5rem;
        margin-left: .5rem;
    }
    
    .modal-mask {
        z-index: 40;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        .modal-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            iframe, img {
                margin: auto;
            }
            .youtube {
                width: 70%;
            }
            img {
                max-width: 800px;
                max-height: 100%;
            }
        }
    }
}