.read {
    .imgWrap img {
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
    .select-chapter--wrap {
        padding: 0 10px;
    }
    .select-wrap {
        min-width: 210px;
        text-align: center;
        .select-page {
            max-width: 70px;
            display: inline-block;
        }
    }
}
