.start {
    .watching {
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        .card {
            flex: 0 0 150px;
            display: inline-flex;
            margin: 0 5px;
            img {
                height: 100%;
            }
            .card-body {
                display: none;
                top: 0;
                background: rgba(0, 0, 0, 0.7);
                padding: 1rem;
                transition: all 0.4s linear;
                .card-text {
                    font-size: 1rem;
                }
            }
            &:hover .card-body {
                display: block;
            }
        }
    }
    
    .cards-wrap.short {
        max-height: 550px;
        overflow: hidden;
    }
    $cardsColumns: 5;
    .card-columns {
        -webkit-column-count: $cardsColumns;
        column-count: $cardsColumns;
    }
    .card {
        cursor: pointer;
        color: #fff;
        .card-img-overlay {
            top: inherit;
            padding: 0.5rem;
            padding-bottom: 0.2rem;
            background: linear-gradient(transparent, #000);
            padding-top: 2.5rem;
        }
        img {
            max-width: 300px;
        }
        h4.card-title {
            font-size: 1rem;
        }
        h6.card-subtitle {
            font-size: 0.7rem;
        }
    }
}