.navbar {
    background: url(../img/bg.png);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    .navbar-brand {
        color: #FCE397;
        font-family: "Cricket";
        span {
            font-size: 0.55rem;
            color: #616161;
        }
    }
    .navbar-nav {
        .nav-item a {
            color: #fff
        }
    }
    ul#searchResult {
        z-index: 3;
        position: absolute;
        background: $dark;
        padding: 3px 10px;
        list-style: none;
        right: 1rem;
        border: 3px solid $dark2;
        outline: 1px solid $dark3;
        top: 3.5rem;
        min-width: 230px;
        .header {
            font-weight: bold;
            border-bottom: 1px solid $dark2;
            margin-top: 7px;
            margin-bottom: 2px;
            color: $fontColor2;
        }
        .header:first-child {
            margin-top: 0;
        }
        .item {
            cursor: pointer;
            transition: 0.2s;
            padding: 2px 4px;
            max-width: 300px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-radius: 2px;
            color: $fontColor;
            &:hover {
                background: $dark2;
            }
            span {
                font-size: .8rem;
                margin-top: -5px;
                display: block;
            }
        }
    }
}
