<div class="manga">
    <div class='info d-flex mb-4'>
        <div class='left-side mr-4'>
            <img :src="'https://shikimori.org/' + manga.image.original" :alt="manga.name" class="thumb">
        </div>
        <div class="right-side d-flex flex-column justify-content-around">
            <div>
                <h5>{{ manga.russian }} <small class='text-muted'>{{ new Date(manga.aired_on).getFullYear() }}</small></h5>
                <h6>{{ manga.name }}</h6>
                <div>
                    <span class="genre" v-for='genre in manga.genres'>{{ genre.russian }}</span>
                </div>
            </div>
            <div>
                <span class="text-primary">{{manga.volumes}} {{volumeText}}</span>
                 • <span class="text-primary">{{ manga.chapters }} {{chapterText}}</span>
            </div>
            <div><h3 class="text-primary">{{manga.score}}</h3></div>
            <div v-if="manga.bookmark">Закладка: Том {{ manga.bookmark.volume }} Глава {{ manga.bookmark.chapter }} - страница {{ manga.bookmark.page }}</div>
            <div class='buttons'>
                <button class="btn btn-outline-warning" @click="readButton"><i class="fa fa-book"></i> Читать</button>
                <button class="btn" :class="favoriteClass" @click="favorite"><i class="fa fa-star"></i> В избранное</button>
                <!--<button class="btn" :class="alreadyReadedClass" @click="alreadyReaded"><i class="fa fa-check"></i> Уже прочитано</button>-->
            </div>
        </div>
    </div>
    <div class="description" v-if="manga.description"><b>Описание:</b> <p v-html="cleanDescr()"></p></div>
    <div v-if="manga.external_links" class="external_links d-flex justify-content-around">
        <div v-for='link in manga.external_links'>
            <a href="#" @click="browser(link.url)">{{ link.name }}</a>
        </div>
    </div>
    <span v-else @click="showExternalLinks" class='text-secondary cursor-pointer'>Показать ссылки на сайты</span>
    <relate v-if="manga.related" :relate_list="manga.related"></relate>
</div>