<div class="plugin row mb-3">
    <div class="col-sm-10 d-flex align-items-center">
        <img v-if='icon_src != null' :src="icon_src" :alt="plugin.name + ' icon'" class='plugin__icon'>
        <div class='d-flex flex-column'>
            <h5 class='plugin__name'>{{plugin.name}} <small class='plugin__version'>v{{plugin.version}}</small></h5>
            <small class='plugin__author text-muted'>{{plugin.author}}</small>
            <div class='plugin__description'>{{plugin.description}}</div>
        </div>
    </div>
    <div class="col-sm-2 text-center">
        <template v-if='!installed && !installing'>
            <div class='text-danger' v-if='plugin.updateProgram'>Обновите программу до версии {{plugin['min-version']}}</div>
            <button class="btn btn-outline-success" @click="download" v-else>Установить</button>
        </template>
        <div class="load-spinner" v-if='installing'></div>
        <div v-if='installed'>Уже установлено</div>
        <button class="btn btn-sm" onclick='location.reload()' v-if='showRefresh'>Перезагрузить</button>
    </div>
</div>