<div class='row mb-4 plugin'>
    <div class='col-sm-10 d-flex align-items-center'>
        <img v-if='icon_src != null' :src="icon_src" :alt="plugin.name + ' icon'" class='plugin__icon'>
        <div class='d-flex flex-column'>
            <h5 class='plugin__name'>{{plugin.name}} <small class='plugin__version'>v{{plugin.version}}</small></h5>
            <small class='plugin__author text-muted'>{{plugin.opt.author}}</small>
            <div class='plugin__description'>{{plugin.opt.description}}</div>
        </div>
    </div>
    <div class="col-sm-2 text-center">
        <template>
            <label class="switch" v-if='forThisAppVersion'>
                <input type="checkbox" v-model='active'>
                <span class="slider round"></span>
            </label>
            <div v-else class='text-danger'>Обновите программу до версии {{plugin.opt['min-version']}}</div>
        </template>
        
        <template v-if='hasUpdate'>
            <div v-if='newVersion.updateProgram' class='text-danger'>Обновите программу до версии {{newVersion['min-version']}}</div>
            <button class="btn btn-outline-success btn-sm btn-block" @click='update' v-else>Обновить</button>
        </template>
        <button class="btn btn-outline-warning btn-sm btn-block" onclick="location.reload()" v-b-tooltip.hover.auto.bottom title='Перезагрузить программу, чтобы изменения вступили в силу' v-if='showRefresh'><i class="fa fa-refresh mr-0" aria-hidden="true"></i></button>        
    </div>
</div>