<div class="read">
    <div class='mb-2 d-flex justify-content-between'>
        <button class="btn btn-outline-secondary btn-sm" @click="back"><i class="fa fa-arrow-left" aria-hidden="true"></i> Назад</button>
        <div v-if="manga.chapterList && manga.chapterList.length" class="select-chapter--wrap">
            <select class="form-control select-chapter" v-model="chapterUrl">
                <option v-for="(cp, index) in manga.chapterList" :value="cp.link">{{cp.name}}</option>
            </select>
        </div>
        <button class='btn btn-sm' :class="bookmarkClass" @click='bookmark'><i class="fa fa-bookmark" aria-hidden="true"></i> Добавить закладку</button>
    </div>
    <div class='d-flex justify-content-center'>
        <h5>{{manga.russian}}. Том {{watch.volume}} Глава {{watch.chapter}}</h5>
    </div>
    <div class="imgWrap">
        <div class='load-spinner' v-if='loading'></div>
        <img :src="currentImg" alt="" v-else>
        <div v-if='error'>
            <span class='text-danger'>{{error}}</span>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-3 mb-3">
        <div class="d-flex flex-column">
            <button 
                class="btn btn-outline-warning"
                :class="{disabled: currentPage === 1}"
                v-shortkey.once="{arrow: ['arrowleft']}"
                @shortkey="prevPage"
                @click="prevPage">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Предыдущая страница
            </button>
            <button
                v-if="prevChapterLink"
                class="btn btn-outline-primary mt-2"
                :class="{disabled: watch.chapter === 1 || !prevChapterLink}"
                @click="prevChapter">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Предыдущая глава
            </button>
        </div>
        <div class="select-wrap">
            Страница
            <select class="form-control select-page" v-model="currentPage">
                <option v-for="pageNum in totalPages" :value="pageNum">{{pageNum}}</option>
            </select>
            из {{totalPages}}
        </div>
        <div class="d-flex flex-column">
            <button
                class="btn btn-outline-warning"
                :class="{disabled: currentPage === totalPages}"
                v-shortkey.once="{arrow: ['arrowright']}"
                @shortkey="nextPage"
                @click="nextPage">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Следующая страница
            </button>
            <button
                 v-if="nextChapterLink"
                class="btn btn-outline-primary mt-2"
                :class="{disabled: !nextChapterLink}"
                @click="nextChapter">
                <i class="fa fa-arrow-right" aria-hidden="true"></i> Следующая глава
            </button>
        </div>
    </div>
</div>