<div>
    <hr>
    <h5>Связанное</h5>
    <div class="related">
        <div v-for="relate in relate_list" class="d-flex" :class="{ anime: relate.anime, manga: relate.manga}">
            <template v-if="relate.anime">
                <div class="img-wrap" @click="select_anime(relate.anime.id)">
                    <img :src="'https://shikimori.org/'+relate.anime.image.x96" alt="">
                </div>
                <div>
                    <h6 @click="select_anime(relate.anime.id)">{{relate.anime.russian}}</h6>
                    <div>{{ relatedKind(relate.anime.kind) }} {{ new Date(relate.anime.aired_on).getFullYear()}} г.</div>
                    <div>{{relate.relation_russian}}</div>
                </div>
            </template>
            <template v-if="relate.manga">
                <div class="img-wrap" @click="select_manga(relate.manga.id)">
                    <img :src="'https://shikimori.org/'+relate.manga.image.x96" alt="">
                </div>
                <div>
                    <h6 @click="select_manga(relate.manga.id)">{{relate.manga.russian}}</h6>
                    <div>{{ relatedKind(relate.manga.kind) }} {{ new Date(relate.manga.aired_on).getFullYear()}} г.</div>
                    <div>{{relate.relation_russian}}</div>
                </div>
            </template>
        </div>
    </div>
</div>