<div id='repos'>
    <b-alert variant='danger' :show="error != null" dismissible @dismissed="error=null">{{error}}</b-alert>
    <div class="row mb-3">
        <button class="btn btn-outline-success" v-b-modal.addRepoModal>Добавить репозиторий</button>
    </div>
    <div class='row mb-4 repo' v-for='repo in allRepos'>
        <div class='col-sm-10'>
            <h5 class='repo__name'>{{repo.name}}</h5>
            <div class='repo__description'>{{repo.description}}</div>
            <small class='text-muted'>{{repo.link}}</small>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-outline-danger" @click="remove(repo.link)"><i class="fa fa-trash mr-0" aria-hidden="true"></i></button>
        </div>
    </div>

    <!-- Modal -->
    <b-modal
        id="addRepoModal"
        ref="modal"
        title="Введите адрес репозитория"
        cancel-title="Отмена"
        ok-title="Добавить"
        @ok="handleOk"
        @shown="modalShown"
        header-bg-variant='dark'
        header-text-variant='light'
        body-bg-variant='dark'
        footer-bg-variant='dark'>

        <form @submit.stop.prevent='submit'>
            <b-form-input type='text' ref='url' placeholder='URL адрес репозитория' v-model='repoUrl'></b-form-input>
        </form>
    </b-modal>
</div>