<div class="start">
    <h4>{{selectedHorizontal ? selectedHorizontal.name : ''}} 
        <span class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'></span>
        <div class='dropdown-menu'>
            <a v-for='item in dropdownHorizontal' href="#" class="dropdown-item" @click='selectedHorizontal = item'>{{item.name}}</a>
        </div>
    </h4>
    <div class="watching d-flex mb-3 pb-2" v-if='horisontalList && horisontalList.length'>
        <div class="card" v-for='anime in horisontalList' key='anime.russian' @click="select_anime(anime)">
            <img :src="anime.cover || 'https://shikimori.org/' +anime.image.original" :alt="anime.name" class='card-img' @error='card_error'>
            <div class="card-body card-img-overlay">
                <h4 class="card-title">{{anime.russian}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{anime.name}}</h6>
                <p class="card-text">{{anime.watched}} / {{anime.episodes_aired || anime.episodes}}</p>
            </div>
        </div>
    </div>
    <div class='mb-3 pb-2' v-else>
            <p>Здесь пока ничего нет...</p>
    </div>
    <h4>Избранное аниме</h4>
    <template v-if="all_anime && all_anime.length">
        <div class="cards-wrap">
            <b-card-group columns>
                <div class="card" v-for='anime in all_anime' key='anime.russian' @click="select_anime(anime)">
                    <img :src="anime.cover || 'https://shikimori.org/' +anime.image.original" :alt="anime.name" class='card-img' @error='card_error'>
                    <div class="card-body card-img-overlay">
                        <h4 class="card-title">{{anime.russian}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{anime.name}}</h6>
                    </div>
                </div>
            </b-card-group>
        </div>
    </template>
    <template v-else>
        <p>Здесь пока ничего нет. Используйте поиск, чтобы добавить аниме в избранное.</p>
    </template>
    <h4>Избранная манга</h4>
    <template v-if="all_manga && all_manga.length">
        <div class="cards-wrap">
            <b-card-group columns>
                <div class="card" v-for='manga in all_manga' key='manga.russian' @click="select_manga(manga)">
                    <img :src="'https://shikimori.org/' +manga.image.original" :alt="manga.name" class='card-img' @error='card_error'>
                    <div class="card-body card-img-overlay">
                        <h4 class="card-title">{{manga.russian}}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{manga.name}}</h6>
                    </div>
                </div>
            </b-card-group>
        </div>
    </template>
    <template v-else>
        <p>Здесь пока ничего нет. Используйте поиск, чтобы добавить мангу в избранное.</p>
    </template>
</div>