extends layout

block content
    h4 Поиск
    if !results
        p= `По запросу "${query}" ничего не найдено`
    else
        .cards-wrap
            .card-columns
                each anime in results
                    - var a_query = anime.id ? 'id=' + anime.id : 'name=' + anime.name + '&source=' + anime.source
                    a.card(href='/anime?' + a_query)
                        img.card-img(src='https://shikimori.org/' + anime.image.original, alt=anime.name)
                        .card-body.card-img-overlay
                            h4.card-title= anime.russian
                            h6.card-subtitle.mb-2.text-muted= anime.name