block top-bar
    nav.navbar.sticky-top.mb-2.navbar-expand-sm
        a.navbar-brand(href="/")
            | Anime List 3.0
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
        form.form-inline
            input.form-control(type="search", placeholder="Поиск", name="search" aria-label="Search")
